
.sup {
    text-align: center;
    color: white;
    font-family: 'Galindo';
    margin-top: 20px;
}

h2 {
    font-weight: bold;
}


body {
    background-color: rgb(56, 56, 56);
}

.board {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20px;
    width: 450px;
    height: 450px;
   
}

.square {
    width: 150px;
    height: 150px;
    padding: 0px;
    border: 1px solid white;
    border-radius: 0;
    font-family: 'Galindo';
    font-size: 50px;
    color: white;
}

.sup button {
    margin-top: 5px;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    color: rgb(255,202,44);
    border-color: darkgray;
}

.msg {
    font-family: 'Galindo';
    color: white;
    text-align: center;
    margin-top: 500px;
    font-size: 25px;
}

strong {
    color: rgb(255,202,44);
}

.line {
    color: green;
}