
.sup {
    text-align: center;
    color: white;
    font-family: 'Galindo';
    margin-top: 20px;
}

h1 {
    font-weight: bold;
}


body {
    background-color: rgb(56, 56, 56);
}

.board {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20px;
    width: 450px;
    height: 450px;
   
}

img {
    border: 1px solid white;
}

.square {
    width: 150px;
    height: 150px;
    padding: 0px;
}